* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
}
.product-images{
    width: 90%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gallery{
    flex-basis: 45%;
}
.slider{
    height: 80vh;
    display: flex;
}
.product img{
    height: 19vh;
    margin-bottom: 9px;
    cursor: pointer;
    opacity: 0.6;
}

.product img:hover{
    opacity: 1;
}


.preview img{
    height: 100%;
}
p{
    margin-bottom: 20px;
}
.brand{
    background: #008000;
    width: fit-content;
    color: #fff;
    font-size: 12px;
    padding: 10px 15px;
}
h2{
    font-size: 45px;
    color: #555;
    margin-bottom: 20px;
}
h2{
    color: #555;
    font-size: 30px;
    font-weight: 600;
  }
h3{
    color: #00d874;
    margin-bottom: 20px;
  }
.rating{
    display: flex;
    height: 15px;
}
.rating .fa{
    color: #008000;
}
.details form{
    font-size: 15px;
    font-weight: 400;
  }
  .size-select{
    display: flex;
    align-items: center;
    margin-top: 50px;
  }
  .size-select p{
    width: 70px;
  }
  .size-select input:checked + span{
    color: blue;
    font-weight: 600;
  }
  .size-select input{
    display: none;
  }
  .size-select span{
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .quantity-select{
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  .quantity-select p{
    width: 75px;
  }
  .quantity-select input{
    background: #eee;
    border: 0;
    outline: 0;
    padding: 2px 2px 2px 15px;
    width: 50px;
    border-radius: 12px;
  }
  .price{
    color: #fe980f;
    font-size: 26px;
    font-weight: bold;
    padding-top: 10px;
}
input{
    width: 30px;
    border: 1px solid #ccc;
    font-weight: bold;
    text-align: center;
}
button{
    color: #fff;
    font-size: 15px;
    outline: none;
    border: 0;
    border-radius: 5px;
    background: #1a37f1;
    padding: 15px 50px;
    margin-top: 50px;
  box-shadow: 0 10px 10px rgba(85, 63, 240, 0.25);
    box-sizing: content-box;
    cursor: pointer;
}
button .active{
    margin-right: 20px;
}
.related{
    width: 90%;
    margin: 0 auto 40px;
}
.related .product-images{
    width: 100%;
    height: auto;
}
.columns{
    flex-basis: 22%;
    height: 100%;
}
.items img{
    width: 100%;
}
.details{
    margin-top: 20px;
}
.details p{
    font-size: 14px;
    margin-bottom: 10px;
}
.details .rating{
    margin: 10px 0;
}